#menu-page {
    padding: 100px;

    #food-preview {
        padding: 0;
        background: transparent;

        h2 {
            color: white;
            text-transform: uppercase;
        }

        .right-btn,
        .left-btn {
            background: black;
            color: white;
        }

        .food-slider{
         .slide {
            width: 19.999%;

            &:hover {
                .background {
                    background: black;
                    transform: translate3d(0, -200px, 0);
                }
            }

            .content {
                padding: 0;

                .food-title{
                    margin-top: 1rem;
                }

                .food-description {
                    padding: 5px;
                }
            }
        }
    }
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    #menu-page {
        padding: 20px;

        #food-preview {
        width: 100%;
        overflow: auto;
        padding: 20px;
        .food-slider{
            .slide{
                margin-bottom: 1rem;
            }
            .sliding-system {
                white-space: normal;
                transform: translate3d(-0%, 0, 0);
            }
        }
       
        .button-rounded{
          margin-bottom: 2rem;
        }

        .container {
            .left-btn {
                left: -20px;
                display:none;
            }

            .right-btn {
                right: -20px;
                display:none;

            }
        }

        h2 {
            font-size: 2rem;
            line-height: 1.4;
        }

        .food-slider {
            .slide {
                width: 100%;
            }
        }
    }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #menu-page {
        padding: 20px;


        #food-preview {
            width: 100%;
            overflow: hidden;
            padding: 20px;
            .button-rounded{
              margin-bottom: 2rem;
            }
          
            .container {
                max-width: 800px;
                .left-btn {
                    left: -20px;
                }
          
                .right-btn {
                    right: -20px;
                }
            }
          
            h2 {
                font-size: 2rem;
                line-height: 1.4;
            }
          
            .food-slider {
                .slide {
                    width: 50%;
                }
            }
          }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
